<form [formGroup]="contactForm">
    <h2 mat-dialog-title>Contacter Şerafettin</h2>
    <mat-dialog-content class="mat-typography">
    <h3>Ecrivez votre message ci-dessous, Şerafettin vous répondra dès que possible</h3>
    <p>
        <mat-form-field appearance="outline">
            <textarea matInput rows="5" formControlName="message"></textarea>
        </mat-form-field>
    </p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Annuler</button>
        <button mat-button cdkFocusInitial>Envoyer le message</button>
    </mat-dialog-actions>
</form>