<div class="top-panel">
  <nav>
    <a mat-flat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon>home</mat-icon>
    </a>
    <a mat-flat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a mat-flat-button routerLink="/profile" routerLinkActive="active">Profil</a>
    <a mat-flat-button routerLink="/help" routerLinkActive="active">Aide</a>
    <div class="spacer">&nbsp;</div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </nav>
</div>
<div class="main-area">
    <main>
      <router-outlet></router-outlet>
    </main>
</div>
