@import "../app.component.less";

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

.top-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border: none;
  padding: 0;
  margin: 0;

  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    background-color: @turkish-color;

    a {
      margin: 0 5px;
      &.active {
        color: white;
        font-weight: bold;
        background-color: transparent;
        border: 1px solid white;
      }
    }
  }

  .spacer {
    flex-grow: 1;
  }
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;

  main {
    display: flex;
    flex: 1 1 auto;
  }
}
