.img-icon-flag {
  background-image: url('../assets/images/turkey-flag.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  display: inline-block;
}
:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}
.top-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border: none;
  padding: 0;
  margin: 0;
}
.top-panel nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  background-color: #cb0627;
}
.top-panel nav a {
  margin: 0 5px;
}
.top-panel nav a.active {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid white;
}
.top-panel .spacer {
  flex-grow: 1;
}
.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.main-area main {
  display: flex;
  flex: 1 1 auto;
}
