<div class="mask" [hidden]="isReadyToPop"></div>
<div [attr.id]="rootId" [ngClass]="rootClasses" [style]="popinCssLayout">
    <span class="title" [hidden]="hasNoTitle">{{title}}</span>
    <span class="message">{{message}}</span>
    <div class="popin-actions">
        <button class="accept" (click)="feedbackConfirm($event)">{{buttonLabels.accept}}</button>
        <button class="decline" (click)="feedbackConfirm($event)" [hidden]="!hasDeclineAction">{{buttonLabels.decline}}</button>
        <button class="ignore" (click)="feedbackConfirm($event)" [hidden]="!hasIgnoreAction">{{buttonLabels.ignore}}</button>
    </div>
</div>
