:host {
  position: absolute;
  top: 0;
  left: 0;
  background: #525d646c;
  width: 100%;
  height: 100%;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mask {
  z-index: -1;
  background-color: white;
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}
.popin-confirm {
  position: absolute;
  min-width: 150px;
  background-color: white;
  border-color: lightblue;
  border-radius: 5px;
  z-index: 100;
}
.popin-confirm span.title,
.popin-confirm span.message {
  display: inline-block;
  min-height: 30px;
  margin: 0;
  border: none;
}
.popin-confirm span.title {
  background-color: lightskyblue;
  line-height: 30px;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 96%;
  padding: 2px 2%;
}
.popin-confirm span.message {
  width: 90%;
  padding: 7px 5%;
}
.popin-confirm div.popin-actions {
  height: 42px;
  display: flex;
  padding: 12px;
}
.popin-confirm div.popin-actions button {
  border-style: ridge;
  border-radius: 5px;
  min-width: 50px;
  margin: 5px;
  padding: 5px;
  height: 30px;
  flex: 1;
}
.popin-confirm div.popin-actions button.accept {
  color: blue;
  border-color: blue;
  background-color: white;
}
.popin-confirm div.popin-actions button.decline {
  border-color: black;
}
.popin-confirm div.popin-actions button.ignore {
  border-color: black;
}
.popin-confirm div.popin-actions button:hover {
  border-color: white;
  border-width: 2px;
  color: white;
  background-color: steelblue;
}
