
<div class="mask" [hidden]="isReadyToPop"></div>
<div class="user-form" [style.zIndex]="zIndex">
    <span class="title" [hidden]="hasNoTitle">{{title}}</span>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm?.value)">
        <div>
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" formControlName="firstName" [ngClass]="{ invalid: !firstName || firstName.invalid && (firstName.touched || firstName.dirty) }" />
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" formControlName="lastName" [ngClass]="{ invalid: !lastName || lastName.invalid && (lastName.touched || lastName.dirty) }" />
        </div>
        <div>
            <label for="age">Age</label>
            <input id="age" type="text" formControlName="age" [ngClass]="{ invalid: !age || age.invalid && (age.touched || age.dirty) }" />
        </div>
        <div class="action-buttons">
            <button type="submit" [disabled]="!userForm?.valid">Save</button>
            <button type="button" (click)="close()">Cancel</button>
        </div>
    </form>
</div>
