:host {
  position: absolute;
  top: 0;
  left: 0;
  background: #525d646c;
  width: 100%;
  height: 100%;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mask {
  z-index: -1;
  background-color: white;
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}
span.title {
  display: inline-block;
  min-height: 30px;
  margin: 0;
  border: none;
  background-color: lightskyblue;
  line-height: 30px;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 96%;
  padding: 2px 2%;
}
.user-form {
  position: absolute;
  min-width: 400px;
  min-height: 120px;
  background-color: white;
  border-color: lightblue;
  border-radius: 5px;
  z-index: 100;
}
.user-form form {
  padding: 25px;
}
.user-form form > div {
  display: flex;
  margin: 0;
  padding: 5px;
}
.user-form form > div > label {
  flex: 1;
  line-height: 13pt;
  height: 40px;
  display: inline-block;
}
.user-form form > div > label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.user-form form > div > input {
  flex: 2;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  border-color: lightblue;
  height: 25px;
  padding: 0 5px;
}
.user-form form > div > input:focus {
  border-style: outset;
  border-width: 0px;
  box-shadow: 0 0 7px lightblue;
  outline: none;
}
.user-form form > div > input.invalid {
  background-color: rgba(255, 182, 193, 0.5);
}
.user-form form > div.action-buttons {
  height: 40px;
}
.user-form form > div.action-buttons button {
  flex: 1;
  border-radius: 5px;
  margin: 5px;
  background-color: #2c90e2;
  color: white;
  border-width: 2px;
  border-color: white;
  outline: none;
  border-style: solid;
}
.user-form form > div.action-buttons button:hover:not(:disabled),
.user-form form > div.action-buttons button:focus {
  border-style: solid;
  border-color: lightblue;
}
