@import "../app.component.less";

:host {
  display: flex;
  flex-grow: 1;
}

.left-menu {
    position: sticky;
    top: 0;
    display: block;

    .content-menu {
        width: 200px;
        height: 100vh;
        overflow: auto;
        display: block;
        border-right: 1px solid @turkish-color-light;

        &::-webkit-scrollbar {
          height: 4px;
          width: 4px;
        }

        a {
          &.active {
            color: @turkish-color;
            font-weight: bold;
          }
        }
    }
}

.content {
  flex-grow: 1;
  overflow: hidden;
  padding: 10px 40px;
}