<div>
    <div class="left-menu">
        <div class="content-menu">
            <mat-nav-list>
                <a mat-list-item routerLink="latest-review" routerLinkActive="active">Dernier test</a>
                <a mat-list-item routerLink="review-list" routerLinkActive="active">Tous les tests</a>
                <a mat-list-item routerLink="chat" routerLinkActive="active">Cours Chat</a>
            </mat-nav-list>
        </div>
    </div>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>
