<mat-card [ngClass]="hasPicture ? 'square' : 'box-auto'">
  <mat-card-header>
    <div *ngIf="hasIcon" mat-card-avatar [style.backgroundImage]="iconUrl" class=icon></div>
    <mat-card-title>{{review.title}}</mat-card-title>
    <mat-card-subtitle *ngIf="hasSubTitle">{{review.subTitle}}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="hasPicture" mat-card-image [src]="pictureUrl">
  <mat-card-content>
    <p>{{review.wording}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button type="button" (click)="startReview()" *ngIf="allowStart">Démarrer</button>
    <button mat-raised-button type="button" (click)="restartReview()" *ngIf="allowRestart">Recommencer</button>
    <button mat-raised-button type="button" (click)="showHelpPopin()" color="accent" matTooltip="Contactez Şerafettin" matTooltipPosition="above">Aide</button>
  </mat-card-actions>
</mat-card>

<form [formGroup]="reviewForm" *ngIf="isStarted" (ngSubmit)="onSubmit(reviewForm?.value)">
  <div formArrayName="questions" class="space-before">
    <ng-container *ngFor="let q of review.questionList; index as x">
      <div [ngSwitch]="q.answerType">
        <mat-card class="box-auto question">{{q.text}}</mat-card>
        <ng-container *ngSwitchCase="'text'">
          <mat-form-field class="big-text-area" appearance="fill">
            <textarea matInput *ngFor="let a of (q.answers | studentAnswers)" [disabled]="a.locked">{{a.text}}</textarea>
            <textarea matInput [formControlName]="x" *ngIf="!isClosed" appearance="outline"></textarea>
          </mat-form-field>
          <mat-checkbox [checked]="q.isIgnored" (change)="ignoreQuestion(q, $event.checked, x)" class="ignore-check">Je ne sais pas</mat-checkbox>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <section class="action-buttons">
    <button type="submit" mat-raised-button color="primary" matTooltip="Valider vos réponses" matTooltipPosition="below">Valider</button>
  </section>

</form>
