mat-form-field.big-text-area {
  margin-top: 15px;
  min-width: 632px;
}
mat-card .icon {
  background-size: cover;
}
mat-card.square {
  width: 600px;
  max-width: 600px;
  height: 600px;
  max-height: 600px;
}
mat-card.box-auto {
  width: 600px;
  max-width: 600px;
  height: auto;
}
mat-card.question {
  font-weight: bold;
}
.space-before {
  margin-top: 30px;
}
.ignore-check {
  margin-left: 15px;
  font-style: italic;
}
.action-buttons {
  height: 40px;
  display: flex;
  flex-direction: row-reverse;
  max-width: 600px;
}
.action-buttons button {
  flex: 1;
  margin: 5px;
  max-width: 100px;
}
