
<div>
    <span><label>First Name</label>
        <input name="user.firstName" [value]="user.firstName" (input)="changeUser($event)" [readonly]="isReadonly" [ngClass]="{ locked: isReadonly }" />
        <!-- <input [(ngModel)]="firstName" [readonly]="isReadonly" [ngClass]="{ locked: isReadonly }" /> -->
    </span>
    <span><label>Last Name</label><input name="user.lastName" [value]="user.lastName" (input)="changeUser($event)" [readonly]="isReadonly" [ngClass]="{ locked: isReadonly }" /></span>
    <span><label>Age</label><input name="user.age" [value]="user.age" (input)="changeUser($event)" [readonly]="isReadonly" [ngClass]="{ locked: isReadonly }" /></span>
    <span>
        <button (click)="initUpdate()" [hidden]="!isReadonly">Edit</button>
        <button (click)="claimUpdate()" [hidden]="isReadonly">Save</button>
    </span>
    <span>
        <button (click)="cancelUpdate()" [hidden]="isReadonly">Cancel</button>
        <button (click)="claimDelete()" [hidden]="!isReadonly">Delete</button>
    </span>
</div>
