span {
    display: inline-block;
    line-height: 35px;
    height: 35px;
    min-width: 30px;
    margin: 5px;

    label {
      display: inline-block;
      margin-left: 7px;
      min-width: 90px;
    }

    input {
        &.locked {
            background-color: lightgray;
            border-color: white;
        }
    }
}