mat-form-field {
  &.inline {
    margin-right: 20px;
  }

  &.text-area {
    min-width: 500px;
  }

  min-width: 300px;
}

.line-500 {
  width: 500px;
}

.action-buttons {
  height: 40px;
  display: flex;
  max-width: 600px;
  flex-direction: row-reverse;
  margin-top: 35px;

  button {
    flex: 1;
    margin: 5px;
    max-width: 100px;
  }
}
