.stock-root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Calibri;
  min-width: 800px;
  min-height: 600px;
  display: grid;

  .top-area {
    grid-column: ~"1 / 8";
    grid-row: 1;
    text-align: center;
    border-bottom: 1px lightgrey solid;
  }

  .left-area {
    grid-column: 1;
    grid-row: ~"2 / 7";
    border-right: 1px lightgrey solid;

    .active {
      color: blue;
      font-weight: bold;
      background-color: lightblue;
    }
  }

  .main-area {
    grid-column: ~"2 / 8";
    grid-row: ~"2 / 7";
    padding: 20px;
  }

  .bottom-area {
    grid-column: ~"1 / 8";
    grid-row: 7;
    text-align: center;

  }

  .hide-white {
    visibility: hidden;
  }

  .menu {
    a {
      display: inline-block;
      height: 36px;
      padding: 4px;
      line-height: 13pt;
      font-size: 13pt;

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }

      &.active {
        font-weight: bold;
      }
    }
  }
}
