.stock-root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Calibri;
  min-width: 800px;
  min-height: 600px;
  display: grid;
}
.stock-root .top-area {
  grid-column: 1 / 8;
  grid-row: 1;
  text-align: center;
  border-bottom: 1px lightgrey solid;
}
.stock-root .left-area {
  grid-column: 1;
  grid-row: 2 / 7;
  border-right: 1px lightgrey solid;
}
.stock-root .left-area .active {
  color: blue;
  font-weight: bold;
  background-color: lightblue;
}
.stock-root .main-area {
  grid-column: 2 / 8;
  grid-row: 2 / 7;
  padding: 20px;
}
.stock-root .bottom-area {
  grid-column: 1 / 8;
  grid-row: 7;
  text-align: center;
}
.stock-root .hide-white {
  visibility: hidden;
}
.stock-root .menu a {
  display: inline-block;
  height: 36px;
  padding: 4px;
  line-height: 13pt;
  font-size: 13pt;
}
.stock-root .menu a:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.stock-root .menu a.active {
  font-weight: bold;
}
