<div class="stock-root app-contrainer">
    
    <div class="top-area"></div>
    <div class="left-area">
        <mat-nav-list>
            <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <!-- <a mat-list-item routerLink="/stock" routerLinkActive="active">Stock</a> -->
            <!-- <a mat-list-item routerLink="/users" routerLinkActive="active">Users</a> -->
            <a mat-list-item routerLink="/logs" routerLinkActive="active">Logs</a>
            <a mat-list-item routerLink="/user-list" routerLinkActive="active">Manage Users</a>
            <a mat-list-item routerLink="/user-profile" routerLinkActive="active">User Profile</a>
            <a mat-list-item routerLink="/latest-exam" routerLinkActive="active">Latest Exam</a>
        </mat-nav-list>
    </div>

    <div class="main-area"><router-outlet></router-outlet></div>

</div>
