.img-icon-flag {
  background-image: url('../assets/images/turkey-flag.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  display: inline-block;
}
