
<h3>User list from Mongo DB</h3>
<button [ngClass]="{ new: true, locked: editingNewUser }" (click)="editNewUser()" [disabled]="editingNewUser">New User</button>
<ng-container *ngFor="let user of userList">
    <app-user-edit [user]="user"
        [isReadonly]="user.uniqueCode !== undefined"
        (cancelCreate)="endEditNewUser()"
        (updateRequest)="updateUser($event)"
        (deleteRequest)="deleteUser($event)"
        [(justUpdatedUser)]="updatedUser"></app-user-edit>
</ng-container>
