<div>
  <div class="left-menu">
    <div class="content-menu">
      <mat-nav-list>
        <a mat-list-item routerLink="infos" routerLinkActive="active">Infos personnelles</a>
        <a mat-list-item routerLink="connection" routerLinkActive="active">Login / Mot de passe</a>
        <a mat-list-item routerLink="subscription" routerLinkActive="active">Souscriptions</a>
      </mat-nav-list>
    </div>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>