.img-icon-flag {
  background-image: url('../assets/images/turkey-flag.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  display: inline-block;
}
:host {
  display: flex;
  flex-grow: 1;
}
.left-menu {
  position: sticky;
  top: 0;
  display: block;
}
.left-menu .content-menu {
  width: 200px;
  height: 100vh;
  overflow: auto;
  display: block;
  border-right: 1px solid #cb062723;
}
.left-menu .content-menu::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
.left-menu .content-menu a.active {
  color: #cb0627;
  font-weight: bold;
}
.content {
  flex-grow: 1;
  overflow: hidden;
  padding: 10px 40px;
}
