<p>App. Logs</p>

<!-- <input (keyup)="searchLogs($event)" id="name" placeholder="Search"/> -->

<app-debounce-search [searchService]="searchLogsService"></app-debounce-search>

<ag-grid-angular
    style="width: 800px; height: 600px;"
    class="ag-theme-alpine"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
>
</ag-grid-angular>