/* You can add global styles to this file, and also import other style files */

@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

button {
    &.new {
        border-radius: 5px;
        min-width: 50px;
        display: block;
        height: 45px;
        line-height: 45px;
        margin: 5px 0;
        font-family: 'Century Gothic', Calibri, Monaco;
        background-color: white;
        border-width: 2px;
        border-color: steelblue;
        color: steelblue;
        padding: 0 5px 0 31px;
        position: relative;
        font-size: 20px;

        &:hover:not(.locked) {
            color: white;
            background-color: steelblue;
        }

        &::before {
            content: "➕";
            position: absolute;
            top: 45%;
            left: 0;
            line-height: 25%;
            display: inline-block;
        }

        &.locked {
            color: gray;
            background-color: lightgray;
        }
    }
}


@keyframes bg_invalid_change {
  from {
    border-color: red;
    background-color: rgb(248, 80, 80);
    border-width: 1px;
    color: white;
  }

  to {
    border-color: rgb(252, 211, 211);
    border-width: 0px;
  }
}

.invalid-ag-cell {
  animation-name: bg_invalid_change;
  animation-duration: 1s;
  animation-direction: normal;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
