.search-entry {
    margin: 3px 3px 3px 3px;
    outline: none;
    border-radius: 5px;
    display: inline-block;
    height: 20px;
    padding: 5px;
    font-size: 10pt;
}

.loupe {
    display: inline-block;
    cursor: pointer;
}