
<form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm?.value)">

    <p>
        <mat-form-field class="inline">
            <mat-label>First Name</mat-label>
            <input type="text" matInput formControlName="firstName" />
        </mat-form-field>
         <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input type="text" matInput formControlName="lastName" />
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <mat-label>Birthday</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthdate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="fill" class="inline">
            <mat-label>Root Language</mat-label>
            <mat-select formControlName="rootLanguage">
                <mat-option *ngFor="let language of languageList" [value]="language">{{language}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Languages</mat-label>
            <mat-select formControlName="languages" multiple>
                <mat-option *ngFor="let language of languageList" [value]="language">{{language}}</mat-option>
            </mat-select>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline" class="text-area">
            <mat-label>Explain your goal</mat-label>
            <textarea matInput placeholder="I would like to learn turkish because..." formControlName="goal" rows="3"></textarea>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="inline">
            <mat-label>Telephone (main)</mat-label>
            <input type="tel" matInput placeholder="0033(0)670897089" formControlName="phoneNumber" />
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="inline">
            <mat-label>Telephone (secondary)</mat-label>
            <input type="tel" matInput placeholder="0033(0)670897089" formControlName="phoneNumber2" />
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
    </p>
    <p>
        <!--
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        -->
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        </mat-form-field>
    </p>

    <section class="action-buttons">
        <button mat-raised-button color="primary" type="submit">Save</button>
        <button mat-raised-button color="warn" type="reset">Reset</button>
        <button mat-raised-button type="button" (click)="resetProfile()">Cancel</button>
    </section>

</form>


