mat-form-field {
  min-width: 300px;
}
mat-form-field.inline {
  margin-right: 20px;
}
mat-form-field.text-area {
  min-width: 500px;
}
.line-500 {
  width: 500px;
}
.action-buttons {
  height: 40px;
  display: flex;
  max-width: 600px;
  flex-direction: row-reverse;
  margin-top: 35px;
}
.action-buttons button {
  flex: 1;
  margin: 5px;
  max-width: 100px;
}
